.users__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  height: 100%;
}
.users__container h1 {
  font-family: var(--font-work-sans), serif;
  font-weight: 500;
  color: #213f7d;
  font-size: 2.4rem;
}
.users__container .users__card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
  padding-bottom: 2rem;
}
@media (max-width: 850px) {
  .users__container .users__card_container {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
  }
}
.users__container .users__card_container .users__card {
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.04);
}
@media (max-width: 850px) {
  .users__container .users__card_container .users__card {
    flex: 0 0 90%;
    max-width: 250px;
    scroll-snap-align: center;
  }
}
.users__container .users__card_container .users__card p {
  font-family: var(--font-work-sans), serif;
  font-weight: 500;
  color: #545f7d;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.users__container .users__card_container .users__card h3 {
  font-family: var(--font-work-sans), serif;
  font-weight: 600;
  color: #213f7d;
  font-size: 2.4rem;
  margin-top: 1rem;
}
.users__container .users__table_container {
  width: 100%;
  background: #fff;
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 3px 5px 20px 0 rgba(0, 0, 0, 0.04);
  overflow-x: scroll;
}
.users__container .users__table_container table {
  width: 100%;
  display: table;
  color: #545f7d;
  font-family: var(--font-work-sans), serif;
  border-collapse: collapse;
  border-spacing: 0 1.5rem;
  overflow-x: scroll;
}
@media (max-width: 1020px) {
  .users__container .users__table_container table {
    border-spacing: 2rem;
    border-collapse: separate;
  }
}
.users__container .users__table_container table thead {
  color: #545f7d;
  font-family: var(--font-work-sans), serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.users__container .users__table_container table thead th {
  padding-bottom: 1rem;
  text-align: left;
  border-collapse: collapse;
}
.users__container .users__table_container table td {
  padding-bottom: 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid rgba(33, 63, 125, 0.1);
  border-collapse: collapse;
}
.users__container .users__table_container table td p {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  border-radius: 100px;
  font-size: 1.4rem;
}
.users__container .users__table_container table .inactive {
  background: #f5f5f7;
  color: #545f7d;
}
.users__container .users__table_container table .blacklisted {
  color: rgb(228, 3, 59);
  background: #fce6eb;
}
.users__container .users__table_container table .active {
  background: #f0f9f4;
  color: rgb(57, 205, 98);
}
.users__container .users__table_container table .pending {
  background: #fff8e5;
  color: rgb(233, 178, 0);
}
.users__container .users__table_container table tbody {
  font-size: 1.4rem;
  font-weight: normal;
  padding-top: 3rem;
}

/*# sourceMappingURL=Users.module.css.map */
