$base-color: #fbfbfb;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard {
  height: 100%;
  display: flex;
  background-color: $base-color;
  overflow-y: scroll;
}

.dashboard__main_content {
  width: 100%;
  padding: 4rem;
}
